{% extends 'hwapp/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2>Services</h2>
        <div class="py-3 flex flex-row">
            <ol class="flex flex-row">
                <li><a href="#}">Doctors Near Me</a></li>
                <li><a href="#">Emergency Helplines</a></li>
                <li><a href="#">Ai Doctor</a></li>
                <li><a href="#">Medical Assistance</a></li>
                <li><a href="#}">Remedies</a></li>
                <li><a href="#">booking schedule</a></li>
                <li><a href="#">booking</a></li>
                <li><a href="#">booking submit</a></li>
                <li><a href="#">User panel</a></li>
            </ol>
        </div>
    </div>
{% endblock %}
